@model Info

@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.Name)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.NameBn)
        </dt>                                  
        <dd>                                   
                @Html.DisplayFor(model=>model.NameBn)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.FathersName)
        </dt>
        <dd>
                @Html.DisplayFor(model=>model.FathersName)
        </dd>




        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.FathersNameBn)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.FathersNameBn)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.MothersName)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.MothersName)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.MothersNameBn)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.MothersNameBn)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.DOB)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.DOB)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.Gender)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.Gender)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.DetectionSpot)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.DetectionSpot)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.NidNo)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.NidNo)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.BirthCertifcateNo)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.BirthCertifcateNo)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.DrivingLicenseNo)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.DrivingLicenseNo)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.PassportNo)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.PassportNo)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.TinNo)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.TinNo)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.CarNo)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.CarNo)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.PresentDistrict)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.PresentDistrict)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.PermanentDistrict)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.PermanentDistrict)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.Resident)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.Resident)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.Height)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.Height)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.Weight)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.Weight)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.BloodGroup)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.BloodGroup)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.Language)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.Language)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.PersonalContact)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.PersonalContact)
        </dd>

        


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.EmergencyContact)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.EmergencyContact)
        </dd>


    </dl>
</div>

<div>
    <a asp-action="Index">Back to the main page</a>
</div>